#Projects{
    height: 100vh;
    background-color: whitesmoke;
    overflow-y:scroll;
   
    .project-container{
        padding: 1rem;
        .project-content{
            padding: 1rem 0;
        }
    }
}